
h1 {
  background-color: #b3d9ff;
  color: aliceblue;
  text-align: center;
  font-size:  200%;
  border-style: outset;
  border-width: thick;
  font-family: 'Julius Sans One', sans-serif;
}
  
  .main-nav {
    padding-bottom: 2em;
    color: #0080ff;
    font-weight: 700;
    font-family: 'Fira Sans Condensed', sans-serif;
    display:flex;
    text-align: center;
}
  
img {
  margin:auto;
  width:75%;
  text-align: center;
}

.main-content {
  background-color: #e6f5ff;
  text-align: justify;
  float:right;
  padding: 3rem;
}

.main-content h2 {
  text-align: center;
  text-decoration: underline;

}
aside {
  float:left;
  border-width: 3rem;
  border-style: double;
  border-color: #66ccff;
}
aside ul {
  list-style: none;
}

footer {
  text-align: center;
}




