
h1 {
  background-color: pink;
  color: aliceblue;
}
h2 {
 color: tomato;
}
h3 {
  text-decoration: underline;
}
p {
background-color: lightcyan;  
 padding: 50px 30px 50px 80px
}
a:hover{
  text-decoration-color: blue;
  text-decoration-line: line-through;
}
p::first-letter {
  font-size: 50px;
  color:aqua;
}
img {
  margin-left: 50px
}
body {
  background-color: lightblue;
  border: 80px;
}
.highlight {
  background-color: yellow;
}
nav.highlight{
  background-color: lightgoldenrodyellow;
}
article h2{
  outline-color: beige;
}
article p {
  text-decoration-style: line-through;
}




